{% extends 'base_usuario.html' %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>


<div class="contedudo_22">
    <p class="name_titulo_22"> Crie sua conta do Connectedin</p>
        <form class="form_user22">
            <label class="name_login22" for="user"> Usuario: </label>
            <input class="input_custon22" id="user" type="text" placeholder="Usuario" required>

            <label class="name_login22" for="pass">Senha: </label>
            <input class="input_custon22" id="pass" type="password" placeholder="Senha" required>

            <label class="name_login22" for="f_name">Primeiro nome: </label>
            <input class="input_custon22" id="f_name" type="text" placeholder="Primeiro nome" required>

            <label class="name_login22" for="s_name">Sobrenome: </label>
            <input class="input_custon22" id="s_name" type="text" placeholder="Sobrenome" required>

            <label class="name_login22" for="tell">Telefone: </label>
            <input class="input_custon22" id="tell" type="text" placeholder="Telefone" required>

            <label class="name_login22" for="emp">Nome da Empresa: </label>
            <input class="input_custon22" id="emp" type="text" placeholder="Nome da Empresa" required>

            <br><br>
            <button class="bt_logar22" type="submit" >Confirmar</button>
        </form>

    <img class="img_titulo_22" src="https://i.imgur.com/K82jQtY.png" alt="logo">
</div>



{% endblock %}