{% load staticfiles %}
<!doctype html>
<html lang = "pt-br">
	<head>
		<meta charset="utf-8">
		<title>ConnectedIn</title>
		<link rel="stylesheet"
			 href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet"
			 href="{% static 'styles/main.css' %}">
	</head>


	<body style="overflow-x: auto">
        <div class="barra_superior">
            <form class="form_barra" method="post">
                <a href="{% url 'index'%}" > <img src="https://i.ibb.co/QKhbzR5/joazmPq.png" class="botao_pagina_inicial"  alt="logo"> </a>
                <label for="busca"></label>
                <input class="pesquisa" placeholder="Pesquisa" id="busca">
                <a href="{% url 'index'%}" > <img src="https://i.ibb.co/ZM1dK35/1Jg8wzw.png" class="botao_pagina_inicial" style="width:35px" alt="logo"> </a>
                <a href="{% url '#'" class="link_pagina"> {{ current_user.username }}</a>
                <a href="{% url 'index'%}" class="link_pagina"> Pagina Inicial</a>
                <a href="{% url 'logout'%}" class="link_pagina"> Sair </a>
            </form>
        </div>
        <div class="conteudo" style="overflow-x: auto">
            {% block body%}
            {% endblock %}
        </div>
    </body>
</html>

