{% extends 'base.html' %}
{% block body %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col col-sm-6 offset-3" >
        {% if users %}
        <h4> Resultados </h4>
            {% for user in users %}
                <ul class="list-group" >
                    <li class="list-group-item" style="background-color:#f3f3fb;">
                        {% if user.photo.url != null %}
                            <img style="width:40px; height:40px; border-radius:50%; margin:5px" src="{{user.photo.url}}" alt="profile_image">
                        {% else %}
                            <img style="width:40px; height:40px; border-radius:50%; margin:5px" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" alt="profile_image">
                        {% endif %}
                        <a href="{% url 'show_user' user.id %}">{{ user.full_name }} </a>

                        <div class="btn-group btn-group float-right" >
                            {% if current_user.id != user.id %}
                            <a class="btn btn-sm btn-primary" href="" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Opções" %}</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">{% trans "Convidar" %}</a>
                                    <a class="dropdown-item" href="#">{% trans "Bloquear" %}</a>
                                    {% if current_user.is_superuser %}
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="{% url 'set_admin' user.id %}">{% trans "Retirar dos Administradores" %}</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url 'set_admin' user.id %}">{% trans "Tornar Administrador" %}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <br>
             {% endfor %}
            {% if users.paginator.count > 10 %}
            <ul class="pagination" style="margin-left:50%">
                {% if users.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.previous_page_number }}" tabindex="-1">{% trans "Anterior" %}</a>
                </li>
                {% endif %}
                {% for num in users.paginator.page_range %}
                {% if users.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                </li>
                {% elif num > users.number|add:'-3' and num < users.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.next_page_number }}">{% trans "Próximo" %}</a>
                </li>
                {% endif %}
            </ul>
                {% endif %}
        {% else %}
            <p> {% trans "Não foi possivel encontrar o usuario solicitado :(" %}</p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}