{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col col-sm-3">Lado</div>
        <div class="col col-sm-6">
            {% if notice %}
                <p class="alert alert-{{notice.type}}">
                    {{notice.content}}
                </p>
            {% endif %}
            {% for profile in profiles %}
                    <div class="media">
                        <div class="media-body">
                            <span class="preview-username">
                                    <a href="{% url 'show_user' profile.id %}">
                                            {{ profile.username }}
                                    </a>
                            </span>
                            <h4 class="mt-1">
                                    <a href="{% url 'show_user' profile.id %}">
                                            {{ profile.full_name }}
                                    </a>
                            </h4>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="col col-sm-3">Lado</div>
    </div>
</div>
{% endblock %}