{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col col-sm-3">Lado</div>
        <div class="col col-sm-6">
            {% if notice %}
                <p class="alert alert-{{notice.type}}">
                    {{notice.content}}
                </p>
            {% endif %}
            {% include 'add_post.html' %}
            <br>
            {% include 'post_list.html' with posts=posts %}
        </div>
        <div class="col col-sm-3">Lado</div>
    </div>
</div>
{% endblock %}