{% extends 'base.html' %}
{% block body %}
{% load i18n %}
<style>
    input[type='file'] {
      display: none

    }

    /* Aparência que terá o seletor de arquivo */
    label {
      background-color: #3498db;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      padding: 6px 20px
    }

</style>

<div class="page-header">
  <div class="container">
      <div class="media">
          <div class="media-body" style="background-color:#f3f3fb; border-radius:10px; padding:5px">
              {% if profile.photo.url != null %}
                <img style="width:100px; height:100px; border-radius:50%" src="{{profile.photo.url}}" alt="profile_image">
              {% else %}
                <img style="width:100px; height:100px; border-radius:50%; margin:5px; float:left" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" alt="profile_image">
              {% endif %}

              <span class="username" >
                  <a href="{% url 'show_user' profile.id %}">@{{ profile.username }}</a>
              </span>
                <p class="mt-3 full_name">
                    <a href="{% url 'show_user' profile.id %}" style="font-size:30px">{{ profile.full_name }}</a>
                </p>
              <br>
              <div class="btn-group">
                  {% if profile.id != current_user.id %}
                    {% if profile in current_user.friendship.all %}
                        <a class="btn btn-light" href="#" >{% trans "Desfazer amizade" %}</a>

                    {% else %}
                        {% if ja_tem_invite %}
                            <a class="btn btn-light" href="{% url 'refuse_friendship' convite.id %}" >Cancelar pedido</a>
                      {% else %}
                            <a class="btn btn-light" href="{% url 'invite_friendship' profile.id %}" >{% trans "Convidar Perfil" %}</a>
                      {% endif %}
                    {% endif %}

                      <a class="btn btn-light" href="#" >{% trans "Bloquear" %}</a>

                  {% else %}
                    <a class="btn btn-light" href="{% url 'change_pass' %}" >{% trans "Trocar Senha" %}</a>
                  <form method="POST" action="{% url 'new_image' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label class="btn btn-light" for='selecao-arquivo'>Foto Perfil</label>
                        <input id='selecao-arquivo' type='file' name="poto_perfil" required>
                        <button type="submit"> ></button>

                  </form>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">

</div>
{% endblock %}