{% extends 'base.html' %}
{% block body %}
<div class="page-header">
  <div class="container">
      <div class="media">
          <div class="media-body">
              <span class="username">
                  <a href="{% url 'show_user' profile.id %}">{{ profile.username }}</a></span>
              <p class="mt-3 full_name">
                <a href="{% url 'show_user' profile.id %}">{{ profile.full_name }}</a>
              </p>
              <div class="btn-group">
                  <a class="btn btn-light" href="{% url 'invite_friendship' profile.id %}" >Invite Profile</a>
                </div>
          </div>
        </div>
  </div>
</div>
<div class="container">

</div>
{% endblock %}