{% load widget_tweaks %}
{% load i18n %}

<style>
    textarea{
        max-height:100px;
        min-height:100px;
    }
</style>

<form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-group">
            {{field.label_tag }}
            {% render_field field class+="form-control" %}
        </div>
    {% endfor%}
    <button class="btn btn-primary" type="submit">{% trans "Publicar" %}</button>
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ form.non_field_errors }}
        </div>
    {% endif %}
</form>