{% load widget_tweaks %}

<form action="{% url 'comment_post' post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in comment_form %}
        <div class="form-group">
            {{field.label_tag }}
            {% render_field field class+="form-control" %}
        </div>
    {% endfor%}
    <div class="modal-footer">
        <a class="btn btn-secondary" data-dismiss="modal">Fechar</a>
        <button class="btn btn-primary" type="submit">Comentar</button>
    </div>
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ form.non_field_errors }}
        </div>
    {% endif %}
</form>