
{% for post in posts %}
    <p>Publicado em {{ post.pub_date }}</p>
    <p>{{ post.content }}</p>
    
    <p>
        {% if post.image %}
            <img src="{{ post.image.url }}" style="max-width: 100%">
        {% endif %}        
    </p>

    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-comment-post">Comentar</button>
    <div class="modal" id="modal-comment-post" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adicionar Comentário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% include 'comment_form.html' %}</p>
          </div>
        </div>
      </div>
    </div>

    {% if current_user == post.user %}
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-delete-post">Delete</button>

        <div class="modal" id="modal-delete-post" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Postagem</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Deseja excluir a postagem?</p>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                  <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Excluir</a>
                </div>
              </div>
            </div>
          </div>
    <a class="btn btn-primary btn-sm" href="{% url 'report_post' post.id %}">Denunciar</a>
    {% endif %}

    {% for comment in post.get_comments %}
      <p>{{ comment.content }}</p>
      <p>{{ comment.pub_date }}</p>
    {% endfor %}

{% endfor %}

{% if posts.paginator.count > 10 %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Anterior</a>
      </li>
    {% endif %}

    {% for num in posts.paginator.page_range %}
      {% if posts.number == num %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
        </li>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:3 %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">Próximo</a>
        </li>
      {% endif %}
  </ul>
{% endif %}