{% load widget_tweaks %}
<style>
  #input-form {
    max-width: 200px;
    max-height: 50px;
    margin-top: 20px;
  }

  #submit-comment{
    display: none;
  }
</style>

{% for post in posts %}
    <p>Publicado em {{ post.pub_date }}</p>
    <p>{{ post.content }}</p>
    
    <p>
        {% if post.image %}
            <img src="{{ post.image.url }}" style="max-width: 100%">
        {% endif %}        
    </p>

    {% if current_user == post.user %}
        <button onclick="setPostIdDelete({{ post.id }})" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-delete-post">Delete</button>

        <div class="modal" id="modal-delete-post" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Postagem</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Deseja excluir a postagem?</p>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                  <a href="" id="delete-post" class="btn btn-primary">Excluir</a>
                </div>
              </div>
            </div>
          </div>
    <a class="btn btn-primary btn-sm" href="{% url 'report_post' post.id %}">Denunciar</a>
    {% endif %}

    <form id="comment-form" action="{% url 'comment_post' post.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
          
      {% for field in comment_form %}
        <div style="margin-top: 10px;" class="form-group">
          {% render_field field class+="form-control" %}
        </div>
        {% endfor%}
        <button id="submit-comment" class="btn btn-primary" type="submit">Comentar</button>
          
        {% if form.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ form.non_field_errors }}
          </div>
        {% endif %}
    </form>

    {% for comment in post.get_comments %}
      <p>{{ comment.content }}</p>
      <p>{{ comment.pub_date }}</p>
    {% endfor %}

{% endfor %}

{% if posts.paginator.count > 10 %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Anterior</a>
      </li>
    {% endif %}

    {% for num in posts.paginator.page_range %}
      {% if posts.number == num %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
        </li>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:3 %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">Próximo</a>
        </li>
      {% endif %}
  </ul>
{% endif %}

<script type="text/javascript">
  $(document).ready(function(event) {
    $('input-comment').keypress(function(event) {
      if(event.keyCode == 13) {
        $('#submit-comment').click();
      }
    });
  });

  function setPostIdDelete(postid) {
    buttonDelete = document.getElementById('delete-post');
    buttonDelete.setAttribute('href', '/posts/' + postid + '/delete/');
}
</script>