
{% for post in posts %}
    {{ post.content }}
    
    {% if post.image %}
        <img src="{{ post.image.url }}" style="max-width: 100%">
    {% endif %}

    {% if current_user == post.user %}
    <a href="{% url 'delete_post' post.id %}">Delete</a>
    {% endif %}
{% endfor %}

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        Deseja excluir o post?
      </div>

      <div>
          <button>Não</button>
          <button>Sim</button>
      </div>
    </div>
</div>