{% extends 'base.html' %}
{% block body %}
<div class="meio">
        <nav class="lado_esquerdo">
            <p class="name_box"> Amigos </p>
            <ul class="ul_box_amigos">
                <li class="li_item">
                    <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                    <a href="#" class="name_perfil_amigos"> adeilton</a>
                    <button class="bt_opcoes_amigo">...</button>
                </li>
            </ul>
        </nav>
        <div class="box_public_center">
            <div class="post_rapido">
                <label for="box_text" style="text-align: left; color: white"> No que voçê esta pensando Arnaldo?</label><br><br>
                <textarea id="box_text" class="input_post" maxlength="150"> </textarea>
                <button class="but_public"> Publicar </button>
                <input class="but_public" title="image" type="file" style="width: 120px">
            </div>
            <br>

            <div class="postagem">
                <div class="div_titulo" style="height: auto">
                    <img class="foto_perfil_pub" width="40" height="40" src="https://abrilveja.files.wordpress.com/2016/06/jared-leto-caracterizado-de-coringa-em-primeira-foto-oficial-de-esquadrao-suicida-original1.jpeg?quality=70&strip=info&w=677" alt="capa">
                    <a href="#" class="name_perfil">Brendon Lucas</a>
                    <button class="but_opcoes_post" style="float: right;">...</button>

                </div>
                    <hr>
                <div class="conteudo_public">
                    <p class="text_public">
                        dd
                    </p>

                </div>

                <div style=" text-align: center" >
                    <button class="bt_acao">Curtir</button>
                    <button class="bt_acao">Comentar</button>
                    <button class="bt_acao">Compartilhar</button>
                </div>

            </div>
            <br>

            <div class="postagem">
                <div style="height: auto">
                    <img class="foto_perfil_pub" width="40" height="40" src="https://abrilveja.files.wordpress.com/2016/06/jared-leto-caracterizado-de-coringa-em-primeira-foto-oficial-de-esquadrao-suicida-original1.jpeg?quality=70&strip=info&w=677" alt="capa">
                    <a href="#" class="name_perfil">Brendon Lucas</a>
                    <button style="float: right;">...</button>
                </div>
                    <hr>
                <div class="conteudo_public">
                    <p class="text_public"> hga sj asd as dasd a dds a dwd awdhga sj asd as dasd a dds a dwd awdhga sj asd as dasd a dds a dwd awdhga sj asd as dasd a dds a dwd awd as dw haskawh wkaw dkahwdk </p>
                    <img src="https://media.istockphoto.com/photos/retro-future-picture-id813910894?k=6&m=813910894&s=612x612&w=0&h=lVH4NYQ3011tEaIFJ4vBv-EdUDSkq1VqMTl8ShJrFi4=" class="img_post" alt="img post">
                </div>
                <div>
                    <p style="margin-left: 15px"> 9998 Curtidas</p>
                </div>
                <div style=" text-align: center" >
                    <button class="bt_acao">Curtir</button>
                    <button class="bt_acao">Comentar</button>
                    <button class="bt_acao">Compartilhar</button>
                </div>
            </div> <br>

            <div class="postagem">
                <div style="height: auto">
                    <img class="foto_perfil_pub" width="40" height="40" src="https://abrilveja.files.wordpress.com/2016/06/jared-leto-caracterizado-de-coringa-em-primeira-foto-oficial-de-esquadrao-suicida-original1.jpeg?quality=70&strip=info&w=677" alt="capa">
                    <a href="#" class="name_perfil">Brendon Lucas</a>
                    <button style="float: right;">...</button>
                </div>
                    <hr>
                <div class="conteudo_public">
                    <img src="https://media.istockphoto.com/photos/retro-future-picture-id813910894?k=6&m=813910894&s=612x612&w=0&h=lVH4NYQ3011tEaIFJ4vBv-EdUDSkq1VqMTl8ShJrFi4=" class="img_post" alt="img post">
                </div>
            </div> <br>
        </div>

        <aside class="lado_direito">
            <p class="name_box"> Pedidos de Amizade </p>
            <ul class="ul_box_amigos">
                <li class="li_item">
                    <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                    <a href="#" class="name_perfil_amigos"> adeilton</a>
                    <button class="bt_opcoes_amigo">...</button>
                </li>

                <li class="li_item">
                    <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                    <a href="#" class="name_perfil_amigos"> adeilton</a>
                    <button class="bt_opcoes_amigo">...</button>
                </li>
            </ul> <hr>

            <p class="name_box"> Seus Pedidos </p>
            <ul class="ul_box_amigos">
                <li class="li_item">
                    <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                    <a href="#" class="name_perfil_amigos"> adeilton</a>
                    <button class="bt_opcoes_amigo">...</button>
                </li>

            </ul>


        </aside>


</div>
{% endblock %}