<form action="{% url 'report_post' post.id %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <h5>Comentario da Denuncia: </h5><br>
            <textarea style="width:100%; min-height:120px; max-height:120px" name="comment"></textarea><br>
        </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" value="enviar">Enviar</button>
    </div>
</form>