{% with total=current_user.convites_recebidos.count %}
                {% if total %}
                    <p class="name_box"> {{ total }} Convite{{ total|pluralize }} de Amizade </p>
                        <ul class="ul_box_amigos">
                            {% for convite in current_user.convites_recebidos.all %}
                                <li class="li_item" style="margin-bottom:5px;">
                                    <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                                        <a href="{% url 'exibir' convite.solicitante.id %}" class="name_perfil_amigos"> {{ convite.solicitante.user.username }} </a>
                                            <div class="btn-group dropleft"  style="float: right; margin-top: auto; margin-bottom: auto; margin-left: auto;">
                                                <img src="https://uploaddeimagens.com.br/images/002/167/233/original/config.png" class="but_opcoes_post1" data-toggle="dropdown"  alt="config">
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{% url 'aceitar' convite.id %}" class="item_menu_hover">Aceitar</a></li>
                                                        <li><a href="#" class="item_menu_hover">Recusar</a></li>
                                                        <li><a href="#" class="item_menu_hover">Bloquear</a></li>
                                                    </ul>
                                            </div>
                                </li>
                            {% endfor %}
                    </ul>
                {% else %}
                     <p class="name_box"> Sem convites </p>
                {% endif %}
            {% endwith %}

            <hr>
            {% with total=current_user.convites_feitos.count %}
                {% if total %}
                    <p class="name_box"> {{ total }} Convite{{ total|pluralize }} feito</p>
                        <ul class="ul_box_amigos">
                        {% for convite in current_user.convites_feitos.all %}
                            <li class="li_item" style="margin-bottom:5px;">
                                <img class="img_perfil_amigos" src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg" alt="perfil">
                                    <a href="{% url 'exibir' convite.convidado.id %}" class="name_perfil_amigos"> {{ convite.convidado.user.username }} </a>
                                        <div class="btn-group dropleft"  style="float: right; margin-top: auto; margin-bottom: auto; margin-left: auto;">
                                            <img src="https://uploaddeimagens.com.br/images/002/167/233/original/config.png" class="but_opcoes_post1" data-toggle="dropdown"  alt="config">
                                                <ul class="dropdown-menu" role="menu" style="background-color: white">
                                                    <li><a href="#" class="item_menu_hover">Cancelar</a></li>
                                                </ul>
                                        </div>
                            </li>
                        {% endfor %}
                        </ul>
                {% else %}
                    <p class="name_box"> Sem convites </p>
                {% endif %}
            {% endwith %}
