{% extends 'base_usuario.html' %}
{% block body %}
<div class="content_down22" style="height: auto; " >
<div class="contedudo_2" style="height: auto;">
    <p class="name_titulo_2"> Entre no Connectedin</p>
        <form class="form_user2">
         <label class="name_login2" for="user"> Usuario: </label>
            <input class="input_custon2" id="user" type="text" placeholder="Usuario" required>
                <br>
            <label class="name_login2" for="pass">Senha: </label>

            <input class="input_custon2" id="pass" type="password" placeholder="Senha" required>
            <br><br>
            <button class="bt_logar2" type="submit" >Entrar</button>
        </form>
    <a href="" class="txt_recuperar">Esqueci minha senha</a>
    <img class="img_titulo_2" src="https://i.imgur.com/K82jQtY.png" alt="logo">
</div>
</div>


{% endblock %}