{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col col-sm-4 offset-4">
          
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        {% trans "Redefinir senha" %}
                    </h4>
                </div>
                <div class="card-body">
                    <form class="form" method="POST" action=".">
                        {% csrf_token %}
                        <label for="id_new_senha"> {% trans "Nova senha:" %} </label>
                        <input class="form-control" id="id_new_senha" name="new_pass" type="password" placeholder="Nova senha" required><br>
                        <button class="btn-primary btn-sm" type="submit" value="send" >{% trans "Enviar" %}</button>
                    </form>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{form.non_field_errors}}
                        </div>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
