{% extends 'base.html' %}
{% block body %}
{% load i18n %}

<div class="page-header">
  <div class="container">
      <div class="media">
          <div class="media-body">

              <div class="col col-sm-4 offset-4">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        {% trans "Alterar Senha" %}
                    </h4>
                </div>
                <div class="card-body">
                    <form class="form" method="POST" action=".">
                        {% csrf_token %}
                        <label for="id_current_pass">{% trans "Senha atual:" %}</label><br>
                        <input class="form-control" type="password" id="id_current_pass" name="current_pass" placeholder="Senha Atual"><br>
                        <label for="id_new_pass"> {% trans "Senha nova:" %}</label><br>
                        <input class="form-control" type="password" id="id_new_pass" name="new_pass" placeholder="Nova Senha"><br><br>
                        <button class="btn-primary btn-sm" type="submit" value="send" >{% trans "Confirmar" %}</button>
                    </form>
                    {% if messages %}
                        <ul style="background-color: #ff786e; padding: 5px" >
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="display: inline"> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
          </div>
        </div>
  </div>
</div>
<div class="container">

</div>
{% endblock %}