{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col col-sm-4 offset-4">
          
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        {% trans "Link Expirou" %}
                    </h4>
                </div>
                <div class="card-body">
                    {% trans "Link ja expirou ou não existe!" %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
